<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<%- include('./partials/header') %>
		<!-- /Header -->

		<!-- product -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title"></h2> 
				<p class="product-detail-description">
					<a href="/products/add">Editar</a>
				</p>
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="" alt="" class="product-detail-img">
						<p class="product-detail-description">
												
						</p>
					</article>
					
						<div class="col-12 col-lg-4">
							<section class="comments"></section>
							
						
								<section class="comments">
									<article>
										<img src="" alt="">
										<div class="data">
											<p class="user">
												<strong><a href="/profile"></a></strong>
											</p>
										</div>
									</article>
								
							<form class="form" action="" method="GET">
								<input class="form-input" type="text" value="" placeholder="Agregar comentario">
								<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
							</form>
						</section>
						
						</div>


					
						
					</div>
				</div>
			</div>
		</div>
		<!-- /product det -->

		<!-- footer -->
		<%- include('./partials/footer') %>
		<!-- /footer -->

	</body>	
</html>
